	* {
	box-sizing:  border-box;
}
html, body {
	height: 100%;
	margin: 0;
}


body {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items: center;
	background:url("/bg.jpeg");
	background-size: cover;
	flex-direction: column;
}

h1 {
	font-family: sans-serif;
	font-size: 500%;
	font-weight: bold;
	text-align: center;
	color: #0A2033;
}
div{
	font-size: 20px;
	background:#DC143C;
	text-align: center;
	padding:7px 20px;
	border-radius: 25px;
	box-shadow: 0 0px 10px 	#FAFAD2;
	cursor: pointer;


}
div:hover {
	background: #00CED1;
	padding: 7px 15px;

}
/* nbjhjhjh */















.draw-border {
  box-shadow: inset 0 0 0 4px #58afd1;
  color: #58afd1;
  -webkit-transition: color 0.25s 0.08333s;
  transition: color 0.25s 0.08333s;
  position: relative;
}
.draw-border::before, .draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: '';
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: #000;
}
.draw-border:hover::before, .draw-border:hover::after {
  border-color: #000;
  -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  -webkit-transition-delay: 0s, 0s, 0.25s;
          transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  -webkit-transition-delay: 0s, 0.25s, 0s;
          transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 700 1.2rem 'Roboto Slab', sans-serif;
  padding: 1em 2em;
  letter-spacing: 0.05rem;
}
.btn:focus {
  outline: 2px dotted #55d7dc;
}